@font-face {
	font-family: "ircolor-icons";
	src: url("../fonts/ircolor-icons.eot?a6ab0ba9706756a7d3e41937a0a549bb?#iefix") format("embedded-opentype"),
url("../fonts/ircolor-icons.woff2?a6ab0ba9706756a7d3e41937a0a549bb") format("woff2"),
url("../fonts/ircolor-icons.woff?a6ab0ba9706756a7d3e41937a0a549bb") format("woff"),
url("../fonts/ircolor-icons.ttf?a6ab0ba9706756a7d3e41937a0a549bb") format("truetype");
}

.irc {
	line-height: 1;
}

.irc:before {
	font-family: ircolor-icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.irc-heart:before {
	content: "\f101";
}
